<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

  <div fxFlex="40" *ngIf="dish" [@visibility] = "visibility" [@expand]>
    <md-card>
      <md-card-header>
        <md-card-title>
          <h3>{{dish.name | uppercase}}</h3>
        </md-card-title>
      </md-card-header>
      <img md-card-image src="{{BaseURL + dish.image}}" alt={{dish.name}}>
      <md-card-content>
        <p>{{dish.description}}</p>
      </md-card-content>
      <md-card-actions>
        <button md-button [routerLink]="['/dishdetail',prev]"><span class="fa fa-chevron-left fa-lg"></span></button>
        <button md-button (click)="goBack()">BACK</button>
        <button md-button>LIKE</button>
        <button md-button>SHARE</button>
        <button md-button [routerLink]="['/dishdetail', next]"><span class="fa fa-chevron-right fa-lg"></span></button>
      </md-card-actions>
    </md-card>
  </div>
  <div [hidden]="dish || errMess">
      <md-spinner></md-spinner><h4>Loading . . . Please Wait</h4>
  </div>
  <div *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{errMess}}</h4>
  </div>

  <div fxFlex="40" *ngIf="dish" [@visibility] = "visibility" [@expand]>
    <md-list>
        <h3>Comments</h3>
      <md-list-item *ngFor="let comments of dish.comments">
        <p md-line><span>{{comments.comment}}</span></p>
        <p md-line><span>{{comments.rating}}</span> Stars</p>
        <p md-line>-- <span>{{comments.author}}</span> <span>{{comments.date | date}}</span> </p>
      </md-list-item>
      <div [hidden]="!(feedbackForm.valid)">
      <md-list-item> <!--Preview of the Comment-->
        <p md-line><span>{{feedbackForm.value.comment}}</span></p>
        <p md-line><span>{{feedbackForm.value.rating}}</span> Stars</p>
        <p md-line>-- <span>{{feedbackForm.value.author}}</span></p>
      </md-list-item>
      </div>
    </md-list>
    <!--Adding the form to the template-->
    <form novalidate [formGroup]="feedbackForm" (ngSubmit)="onSubmit()">
      <p>
        <md-input-container class="full-width"
         dividerColor="{{(formErrors.author) ? 'warn' : 'primary'}}">
          <input mdInput formControlName="author" placeholder="Name" type="text" pattern="^[a-zA-Z\s]+$" required>
          <md-hint>
            <span [hidden]="!(formErrors.author)">
              {{formErrors.author}}</span>
          </md-hint>
        </md-input-container>
      </p>
      <p><md-slider formControlName="rating" min="1" max="5" step="1" value="5" thumbLabel tickInterval="1"></md-slider></p>
      <p>
        <md-input-container class="full-width"
         dividerColor="{{(formErrors.comment) ? 'warn' : 'primary'}}">
          <textarea mdInput formControlName="comment" placeholder="Your Comment" type="text" rows="12" required></textarea>
          <md-hint>
            <span [hidden]="!(formErrors.comment)">
              {{formErrors.comment}}</span>
          </md-hint>
        </md-input-container>
      </p>
      <p>
        <button type="submit" md-button class="background-primary text-floral-white" [disabled]="feedbackForm.invalid">Submit</button>
      </p>
    </form>

  </div>

</div>