<div class="container"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.gt-md="space-around center"
     fxLayoutGap="10px">

<md-card *ngIf="dish" fxFlex [@expand]>
  <md-card-header>
    <div md-card-avatar></div>
    <md-card-title>
      <h3>{{dish.name | uppercase}}</h3>
    </md-card-title>
  </md-card-header>
  <img md-card-image src="{{BaseURL + dish.image}}" alt="{{BaseURL + dish.name}}">
  <md-card-content>
    <p>{{dish.description}}
    </p>
  </md-card-content>
</md-card>
<div [hidden]="dish || dishErrMess">
  <md-spinner></md-spinner><h4>Loading . . . Please Wait</h4>
</div>
<div *ngIf="dishErrMess">
  <h2>Error</h2>
  <h4>{{dishErrMess}}</h4>
</div>

<md-card *ngIf="promotion" fxFlex [@expand]>
  <md-card-header>
    <div md-card-avatar></div>
    <md-card-title>
      <h3>{{promotion.name | uppercase}}</h3>
    </md-card-title>
  </md-card-header>
  <img md-card-image src="{{BaseURL + promotion.image}}" alt="{{BaseURL + promotion.name}}">
  <md-card-content>
    <p>{{promotion.description}}
    </p>
  </md-card-content>
</md-card>
<div [hidden]="promotion || promotionErrMess">
  <md-spinner></md-spinner><h4>Loading . . . Please Wait</h4>
</div>
<div *ngIf="promotionErrMess">
  <h2>Error</h2>
  <h4>{{promotionErrMess}}</h4>
</div>

<md-card *ngIf="leader" fxFlex [@expand]>
    <md-card-header>
      <div md-card-avatar></div>
      <md-card-title>
        <h3>{{leader.name | uppercase}}</h3>
      </md-card-title>
    </md-card-header>
    <img md-card-image src="{{BaseURL + leader.image}}" alt="{{BaseURL + leader.name}}">
    <md-card-content>
      <p>{{leader.description}}
      </p>
    </md-card-content>
</md-card>
<div [hidden]="leader || leaderErrMess">
  <md-spinner></md-spinner><h4>Loading . . . Please Wait</h4>
</div>
<div *ngIf="leaderErrMess">
  <h2>Error</h2>
  <h4>{{leaderErrMess}}</h4>
</div>

</div>